.wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 0 auto;
  padding-top: 120px;
}

.projects__header {
  padding-left: 15px;
  color: #838282;
  font-size: 17px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 50px;
  justify-items: start;
  border-bottom: 1px solid #e5e5e5;
}

.add__button {
  margin: 15px 0px;
  align-self: flex-end;
}
