.task__card {
  background-color: white;
  margin: 0 10px 40px 10px;
  display: grid;
  gap: 8px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}
.card__name {
  font-size: 18px;
  line-height: 15px;
  color: #262626;
  font-weight: 400;
  margin-top: 5px;
}
.card__description {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0px;
  margin-bottom: 5px;
}
.card__actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: end;
  padding: 0 10px 10px 0;
}
.delete__board {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 15px 15px;
  gap: 20px;
  justify-content: center;
}
