.project_users {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
  /*если на странице харакетристики текста один, то лучше запихивать в высше по иерархии и менять уже в отличающихся элемента */
  color: #262626;
  font-size: 14px;
  line-height: 20px;
  align-items: flex-end;
}

.project_users_item {
  width: 200px;
  margin-right: 40px;
}