.projectItem {
  position: relative;
  width: 800px;
  height: 204px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
}

.projectName {

  position: absolute;
  left: 12.57%;
  right: 78.79%;
  top: 40.2%;
  bottom: 40.2%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  display: flex;
  align-items: center;

  color: #262626;
}

.projectDescription {
  position: absolute;
  left: 29.43%;
  right: 30%;
  top: 39.71%;
  bottom: 40.69%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #262626;
}

.editBtn {
  position: absolute;
width: 17px;
height: 17px;
left: 1105px;
top: 485px;

/* Иконки */

border: 2px solid #BFBFBF;
}

.delBtn {
  position: absolute;
left: 5%;
right: 5%;
top: 0%;
bottom: 0%;

/* Иконки */

background: #BFBFBF;
}