.project {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
  /*если на странице харакетристики текста один, то лучше запихивать в высше по иерархии и менять уже в отличающихся элемента */
  color: #262626;
  font-size: 14px;
  line-height: 20px;
  align-items: flex-end;
}
.project__name {
  width: 200px;
  margin-right: 40px;
}
.project__description {
  width: 600px;
  margin-right: 70px;
}
.project__users {
  margin-right: 30px;
}
.project__actions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}

.question__delete__actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
