.projectItem {
  display: flex;
  position: relative;
  width: 800px;
  height: 204px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
}

.projectName {

  position: relative;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #262626;
}

.projectDescription {
  position: relative;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #262626;
}

.editBtn {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 1105px;
  top: 485px;

/* Иконки */

border: 2px solid #BFBFBF;
}

.delBtn {
  position: absolute;
 background: #BFBFBF;
}